[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
dependencies = [
    "PySide6[all]",
    "pysrt",
    "subliminal",
    "babelfish",
    "chardet"
]